<nb-layout>
    <nb-layout-header>
        <nb-layout-column>
            <img src="http://bootstrap-ecommerce.com/assets/images/logo.png">
        </nb-layout-column>
        <nb-layout-column style="padding-left:24%;">
            <input type="text" nbInput fullwidth shape="rectangle" placeholder="search" style="width:3000px;">
            <button nbButton status="primary" shape="rectangle"><nb-icon icon="search"></nb-icon></button>
        </nb-layout-column> 
        <nb-layout-column style="text-align:right;">
            <button nbInput shape="round"><nbIcon icon="shopping-cart-outline"></nbIcon></button>
        </nb-layout-column>
    </nb-layout-header>
</nb-layout>

